@page "/"
@using IntelSimulator.Models

<div class="row">
    <div class="col">
        <EditForm Model="_basicRegisters.Inputs" OnValidSubmit="() => _basicRegisters.ApplyInputs()">
            <DataAnnotationsValidator />

            <div class="form-row">
                <div class="btn-group mb-2 d-flex w-100">
                    <button class="btn btn-outline-info" @onclick="() => _basicRegisters.Reset()">
                        RESET
                    </button>
                    <button class="btn btn-outline-info" @onclick="() => _basicRegisters.Randomize()">
                        RANDOM
                    </button>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">AX</div>
                    </div>
                    <input type="text" class="form-control" value="@_basicRegisters.AX_HEX" disabled/>
                    <InputText @bind-Value="_basicRegisters.Inputs.AX" class="form-control" />
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">BX</div>
                    </div>
                    <input type="text" class="form-control" value="@_basicRegisters.BX_HEX" disabled />
                    <InputText @bind-Value="_basicRegisters.Inputs.BX" class="form-control" />
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">CX</div>
                    </div>
                    <input type="text" class="form-control" value="@_basicRegisters.CX_HEX" disabled />
                    <InputText @bind-Value="_basicRegisters.Inputs.CX" class="form-control" />
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">DX</div>
                    </div>
                    <input type="text" class="form-control" value="@_basicRegisters.DX_HEX" disabled />
                    <InputText @bind-Value="_basicRegisters.Inputs.DX" class="form-control" />
                </div>
                <div class="input-group">
                    <button class="btn btn-block btn-success" type="submit">
                        Wpisz nowe wartości
                    </button>
                </div>
            </div>
        </EditForm>
        <hr class="my-4" />
        <EditForm Model="_registerSelector">
            <div class="row">
                <div class="col-lg">
                    <label class="form-label">Źródło:</label>
                    <InputSelect @bind-Value="_registerSelector.Source" class="custom-select">
                        <option value="@Register.AX">AX</option>
                        <option value="@Register.BX">BX</option>
                        <option value="@Register.CX">CX</option>
                        <option value="@Register.DX">DX</option>
                    </InputSelect>
                </div>
                <div class="col-lg">
                    <label class="form-label">Cel:</label>
                    <InputSelect @bind-Value="_registerSelector.Destination" class="custom-select">
                        <option value="@Register.AX">AX</option>
                        <option value="@Register.BX">BX</option>
                        <option value="@Register.CX">CX</option>
                        <option value="@Register.DX">DX</option>
                    </InputSelect>
                </div>
            </div>
            <div class="btn-group mt-2 d-flex w-100">
                <button class="btn btn-outline-info" @onclick="_basicRegisterOperator.MOV">
                    MOV
                </button>
                <button class="btn btn-outline-info" @onclick="_basicRegisterOperator.XCHG">
                    XCHG
                </button>
            </div>
        </EditForm>
    </div>
    <div class="col">
        
    </div>
</div>

@code
{
    BasicRegisters _basicRegisters = new BasicRegisters();
    RegisterSelector _registerSelector = new RegisterSelector();

    BasicRegisterOperator _basicRegisterOperator;

    protected override void OnInitialized()
    {
        _basicRegisterOperator = new BasicRegisterOperator(_basicRegisters, _registerSelector);
    }
}